In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv("loan_data.csv")
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [36]:
df = df.drop(["person_gender" , "person_education" , "person_home_ownership" , "loan_intent"] , axis = 1)

In [37]:
df["previous_loan_defaults_on_file"] = df["previous_loan_defaults_on_file"].map({"Yes": 1 , "No":1})
df

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,71948.0,0,35000.0,16.02,0.49,3.0,561,1,1
1,21.0,12282.0,0,1000.0,11.14,0.08,2.0,504,1,0
2,25.0,12438.0,3,5500.0,12.87,0.44,3.0,635,1,1
3,23.0,79753.0,0,35000.0,15.23,0.44,2.0,675,1,1
4,24.0,66135.0,1,35000.0,14.27,0.53,4.0,586,1,1
...,...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6,15000.0,15.66,0.31,3.0,645,1,1
44996,37.0,65800.0,17,9000.0,14.07,0.14,11.0,621,1,1
44997,33.0,56942.0,7,2771.0,10.02,0.05,10.0,668,1,1
44998,29.0,33164.0,4,12000.0,13.23,0.36,6.0,604,1,1
44999,24.0,51609.0,1,6665.0,17.05,0.13,3.0,628,1,1

In [38]:
x = np.array(df.iloc[: , 0:9])
y = np.array(df.iloc[: , 9])

In [43]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [46]:
def gradient_descent(df , w , b , a , iter):
    x = np.array(df.iloc[: , 0:9])
    y = np.array(df.iloc[: , 9])
    m= x.shape[0]
    for i in range(iter):
            # Compute predictions
            y_hat = sigmoid(np.dot(x, w) + b)

            # Compute gradients
            dw = np.dot(x.T, (y_hat - y)) / m
            db = np.sum(y_hat - y) / m

            # Update weights and bias
            w -= a * dw
            b -= a * db
        
    return w, b

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x = np.array(df.iloc[: , 0:9])
x = scaler.fit_transform(x)
y = np.array(df.iloc[: , 9])
n = x.shape[1]
w = np.zeros(n)
b=0
iter = 1000
a = 0.01

w,b = gradient_descent(df , w , b , a , iter)

w,b

C:\Users\Tan\AppData\Local\Temp\ipykernel_19984\2837857023.py:2: RuntimeWarning: overflow encountered in exp
  sig = 1/(1+np.exp(-z))

(array([ 6.80507081e+00, -8.66495508e+01,  1.17259461e+00,  4.61693898e+02,
         6.39510304e+00,  6.66074645e-02,  1.41243519e+00,  1.58250320e+02,
         2.51637244e-01]),
 np.float64(0.25163724411005617))

In [53]:
from sklearn import linear_model as lm
reg = lm.LogisticRegression()

[[ 0.1160725   0.02070273 -0.0914319  -0.68053595  0.99814232  1.34576588
  -0.02173614 -0.01625441  0.        ]] , {'penalty': [<sklearn.utils._param_validation.StrOptions object at 0x00000227F656B560>, None], 'dual': ['boolean'], 'tol': [<sklearn.utils._param_validation.Interval object at 0x00000227F653BCB0>], 'C': [<sklearn.utils._param_validation.Interval object at 0x00000227F64E0DD0>], 'fit_intercept': ['boolean'], 'intercept_scaling': [<sklearn.utils._param_validation.Interval object at 0x00000227F65A0440>], 'class_weight': [<class 'dict'>, <sklearn.utils._param_validation.StrOptions object at 0x00000227F65A2660>, None], 'random_state': ['random_state'], 'solver': [<sklearn.utils._param_validation.StrOptions object at 0x00000227F65A2B40>], 'max_iter': [<sklearn.utils._param_validation.Interval object at 0x00000227F65A2BA0>], 'verbose': ['verbose'], 'warm_start': ['boolean'], 'n_jobs': [None, <class 'numbers.Integral'>], 'l1_ratio': [<sklearn.utils._param_validation.Interval object at 0x00000227F65A2BD0>, None], 'multi_class': [<sklearn.utils._param_validation.StrOptions object at 0x00000227F65A2C00>, <sklearn.utils._param_validation.Hidden object at 0x00000227F65A2CC0>]}

ValueError: X has 2 features, but LogisticRegression is expecting 9 features as input.